In [1]:
import pandas as pd
import numpy as np

In [2]:
orbits = pd.read_csv("/Users/yoachim/rubin_sim_data/orbits/granvik_5k.txt", delimiter=" ")

In [3]:
orbits

,a,e,inc,Omega,argPeri,meanAnomaly,epoch,H,MOID,objId,g,sed_filename
0,1.810322,0.457012,8.524691,321.309082,218.878296,194.936127,59853.0,24.902994,0.031219,242880,0.15,S.dat
1,1.390497,0.458398,43.303799,232.109802,241.479919,91.117035,59853.0,24.474217,0.121781,175331,0.15,S.dat
2,1.657430,0.493258,5.164651,302.836609,266.812195,161.882599,59853.0,23.124664,0.006973,647396,0.15,S.dat
3,2.073438,0.554929,10.493196,185.436066,139.102676,261.443756,59853.0,24.706829,0.085103,492747,0.15,S.dat
4,1.338621,0.133787,39.041023,341.855743,186.264435,40.988487,59853.0,24.607513,0.168620,546031,0.15,S.dat
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,1.624333,0.446512,54.509521,355.366943,314.864990,99.870674,59853.0,23.640100,0.114199,23696,0.15,S.dat
4996,2.984417,0.763269,41.823479,333.647278,74.136383,7.006821,59853.0,24.729494,0.234624,33632,0.15,C.dat
4997,1.787739,0.404088,23.665245,351.980927,102.490379,126.487000,59853.0,24.963896,0.084646,214385,0.15,S.dat
4998,2.174124,0.421286,4.020179,38.037006,138.996429,290.406464,59853.0,24.503445,0.267403,106108,0.15,S.dat
4999,1.267627,0.485687,5.517235,86.842247,154.513092,55.123280,59853.0,24.542208,0.002857,653425,0.15,S.dat

In [4]:
out_orbits = pd.DataFrame()

In [5]:
out_orbits["ObjID"] = np.arange(orbits["objId"].size)
out_orbits["a"] = orbits["a"]
out_orbits["e"] = orbits["e"]
out_orbits["inc"] = orbits["inc"]
out_orbits["node"] = orbits["Omega"]
out_orbits["argPeri"] = orbits["argPeri"]
out_orbits["ma"] = orbits["meanAnomaly"]
out_orbits["epochMJD_TDB"] = orbits["epoch"]
out_orbits["FORMAT"] = "KEP"

In [6]:
out_orbits

,ObjID,a,e,inc,node,argPeri,ma,epochMJD_TDB,FORMAT
0,0,1.810322,0.457012,8.524691,321.309082,218.878296,194.936127,59853.0,KEP
1,1,1.390497,0.458398,43.303799,232.109802,241.479919,91.117035,59853.0,KEP
2,2,1.657430,0.493258,5.164651,302.836609,266.812195,161.882599,59853.0,KEP
3,3,2.073438,0.554929,10.493196,185.436066,139.102676,261.443756,59853.0,KEP
4,4,1.338621,0.133787,39.041023,341.855743,186.264435,40.988487,59853.0,KEP
...,...,...,...,...,...,...,...,...,...
4995,4995,1.624333,0.446512,54.509521,355.366943,314.864990,99.870674,59853.0,KEP
4996,4996,2.984417,0.763269,41.823479,333.647278,74.136383,7.006821,59853.0,KEP
4997,4997,1.787739,0.404088,23.665245,351.980927,102.490379,126.487000,59853.0,KEP
4998,4998,2.174124,0.421286,4.020179,38.037006,138.996429,290.406464,59853.0,KEP
4999,4999,1.267627,0.485687,5.517235,86.842247,154.513092,55.123280,59853.0,KEP

In [7]:
out_orbits.to_csv("granvik_5k.des", index=False, sep=" ")

In [8]:
# now to make the physical parameters file

out_params = pd.DataFrame()

out_params["ObjID"] = out_orbits["ObjID"]
out_params["H_r"] = 15.
out_params["GS"] = 0.15
out_params["u-r"] = 1.
out_params["g-r"] = 0.5
out_params["i-r"] = -0.2
out_params["z-r"] = 0.
out_params["y-r"] = -0.2

In [9]:
out_params.to_csv("granvik_5k_params.txt", index=False, sep=" ")